/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body {
  background: url("../img/tablebg.jpg") no-repeat fixed; 
  background-position: contain center top;
}

p {

}

label {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
}



.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.eachSquare {
  position: relative;
  float: left;
  background-color: rgba(0, 0, 0, 0);
  width: 100px;
  height: 85px;
}

.button {
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background: white;
    border: 1px solid #555555;
    border-radius: 28px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-weight: bold;
}

.button:hover {
    color: white;
    background-color: #555555;
}

#clearbutton {
    position: absolute;
    top: 340px;
    left: 922px;
    padding: 10px 70px;
    font-size: 16px;

}

#clearScore {
    position: absolute;
    top: 108px;
    left: 30px;
    padding: 4px 35px;
    font-size: 14px;
}


#main-box {
  background: url("../img/frame2bg.png");
  background-size: contain;
  position: relative;
  width: 714px;
  height: 520px;
  border: 3px solid black;
  margin: 0 auto;
  
}

.clearFloat {
  float: none;
}

.circle-clear {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 65px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 3px -4px 8px rgba(0,0,0,0.7);
}

.circle-red {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 65px;
  height: 65px;
  background-color: #ff3300;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 1px -3px 3px #661400;
  color: white;
  font-size: 22px;
  font-weight: bold;

}

.circle-black {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 65px;
  height: 65px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 1px -3px 3px #333333;
  color: white;
  font-size: 22px;
  font-weight: bold;

}

.radio {
  
}

#radioButtons {
  position: absolute;
  width: 250px;
  top: 300px;
  left: 900px;
}

.scoreBox {
  background: url("../img/scoreboardbg.jpg");
  background-size: contain;
  position: absolute;
  top: 120px;
  left: 890px;
  height: 150px;
  width: 250px;
  border: 2px solid #ac7339;
  border-radius: 4px; 
  padding-right: 12px;
}

.scoreBox h2 {
  font-size: 34px;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
}

.scoreBox p {
  font-size: 48px;
  font-family: 'Black Ops One', serif;
}



#redScore {
  float: left;
  padding-top: 15px;
  width: 125px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0); 
  text-align: center;
}

#blackScore {
  float: left;
  padding-top: 15px;
  width: 125px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0); 
  text-align: center;
}

#highlightPiece {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 120px;
  height: 120px;
  background-color: white;
  border: 8px solid black;
  border-radius: 100px;
}



#dropPiece{
  position: absolute;
  background-color: #ff3300;
  height: 65px;
  width: 65px;
  border: 12px solid #ff3300;
  border-radius: 85px;
  box-shadow: inset 0px 0px 10px #333333;
  top: 160px;
  left: -69px;
}

#arrow{
  position: absolute;
  top: 20px;
  left: -40px;
  width:150px;
}


.blue-leg {
    background: -webkit-linear-gradient(left, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    z-index:-1;
    width: 35px;
    height: 575px;
    border: 1px solid black;
  
}

#leg-left{
  position: absolute;
  
  top: 102px;
  left: 85px;
  border-radius: 15px 0px 5px 5px;
  box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
}

#leg-right{
  position: absolute;
 
  top: 102px;
  left: 839px;
  border-radius: 0px 15px 5px 5px;
  box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
}


.drop-area{
  margin: 0 auto;
  width: 714px;
}

.droppable {
  width: 102px;
  height: 102px;
  float: left;
}


.borderflash {
  -moz-animation: borderflash 1s ease-out;
  -moz-animation-iteration-count: 1000;

  -webkit-animation: borderflash 1s ease-out;
  -webkit-animation-iteration-count: 1000;

  -ms-animation: borderflash 1s ease-out;
  -ms-animation-iteration-count: 1000;
}

@-webkit-keyframes borderflash {
    0% { border-color: none; background-color: none; }
    50% { border-color: #ffffff; background-color: #ffffff; }
    100% { border-color: none; background-color: none; }
}

@-moz-keyframes borderflash {
    0% { border-color: none; background-color: none; }
    50% { border-color: #ffffff; background-color: #ffffff; }
    100% { border-color: none; background-color: none; }
}

@-ms-keyframes borderflash {
    0% { border-color: none; background-color: none; }
    50% { border-color: #ffffff; background-color: #ffffff; }
    100% { border-color: none; background-color: none; }
}



.flash {
  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 10;

  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 10;

  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 10;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #ffffff; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #ffffff; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #ffffff; }
    100% { background-color: none; }
}

.imageflash {
  -moz-animation: imageflash 1s ease-out;
  -moz-animation-iteration-count: 1000;

  -webkit-animation: imageflash 1s ease-out;
  -webkit-animation-iteration-count: 1000;

  -ms-animation: imageflash 1s ease-out;
  -ms-animation-iteration-count: 1000;
}

@-webkit-keyframes imageflash {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes imageflash {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-ms-keyframes imageflash {
     0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

