/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body {
  background: url("../img/tablebg.jpg") no-repeat fixed; 
  background-position: contain center bottom;
  
}


label {
  display: inline-block;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: bold;
}









.container {
  position: relative;
  margin: 0 auto;
}

#container-main {
  margin-top: 60px;
}



.button {
    color: black;
    background-color: rgba(255, 255, 255, .5);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #555555;
    border-radius: 28px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-weight: bold;
}

.button:hover {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    
}

.free-floating-div{
  height: 50px;

}

#arrow {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 13px;
  background: url("../img/arrowsmall.png");
  background-size: cover;

}

#dropPiece{
  z-index: 99;
  position: absolute;
  background-color: #ff3300;
  height: 28px;
  width: 28px;
  border: 6px solid #ff3300;
  border-radius: 85px;
  box-shadow: inset 0px 0px 5px #333333;
  top: -20px;
    left: 61px;
}

#highlightPiece {
  position: absolute;
  top: -31px;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid black;
  border-radius: 100px;
  z-index: -1;
}

.drop-area{
  margin: 0 auto;
  width: 287px;
}

.droppable {
  width: 41px;
  height: 45px;
  float: left;
}
/*styling for frame and holes*/

.entire-board {
  position: relative;
  margin: 0 auto;
  width: 340px;
  z-index:-2;
 
  background-color: rgba(0, 0, 0, 0);
}

#main-box {
  background: url("../img/framebgsmall.png");
  
  /*position: relative;*/
  width: 294px;
  height: 224px;
  border: 3px solid black;
  margin: 0 auto;
  
}

.eachSquare {
  position: relative;
  float: left;
  background-color: rgba(0, 0, 0, 0);
  
  width: 41px;
  height: 36px;
}

.circle-clear {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 28px;
  height: 28px;
  background-color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 2px -3px 1px rgba(0,0,0,0.7);
}

.circle-red {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 28px;
  height: 28px;
  background-color: #ff3300;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 1px -3px 3px #661400;
  color: white;
  font-size: 22px;
  font-weight: bold;

}

.circle-black {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 28px;
  height: 28px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 1px -3px 3px #333333;
  color: white;
  font-size: 22px;
  font-weight: bold;

}


.blue-leg {
    background: -webkit-linear-gradient(left, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    z-index:-1;
    width: 16px;
    height: 240px;
    border: 1px solid black;
  
}

#leg-left{
  position: absolute;
  top: 45px;
  left: 7px;
  border-radius: 15px 0px 5px 5px;
  box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
}

#leg-right{
  position: absolute;
  top: 45px;
  left: 316px;
  border-radius: 0px 15px 5px 5px;
  box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
}


.radio {
  display: inline-block;
}

.radio-div {
  width: 216px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#scoreSpacer{
  width: 340px;
  margin: 0 auto;
}


.scoreBox {
  position: relative;
  margin: 0 auto;
  margin-top:25px;
  width: 260px;
  height: 140px;
  background: url("../img/lightwoodbg.jpg");
  background-size: cover;
  border: 2px solid #333333;
  border-radius: 10px; 
  color: #222222;
}

.scoreBox h2 {
  font-size: 28px;
  font-family: 'Sigmar One', sans-serif;
  text-decoration: underline;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

  .scoreBox p {
  font-size: 54px;
  font-family: 'Sigmar One', serif;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

#redScore {
  position: absolute;
  padding-top: 15px;
  left: 22px;
  background-color: rgba(0, 0, 0, 0); 
  text-align: center;
}



#blackScore {
  position: absolute;
  padding-top: 15px;
  left: 131px;
  background-color: rgba(0, 0, 0, 0); 
  text-align: center;
}


#clearScore {
    position: absolute;
    top: 98px;
    left: 46px;
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 700;
}

.below-scoreboard {
  position: relative;
  width: 235px;
  margin: 0 auto;
}


#radioButtons {
  margin: 0 auto;
  width: 250px;
  
}

#clearbutton {
    margin-left: 15px;
    padding: 10px 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
}
























.borderflash {
  -moz-animation: borderflash 1s ease-out;
  -moz-animation-iteration-count: 1000;

  -webkit-animation: borderflash 1s ease-out;
  -webkit-animation-iteration-count: 1000;

  -ms-animation: borderflash 1s ease-out;
  -ms-animation-iteration-count: 1000;
}

@-webkit-keyframes borderflash {
    0% { border-color: none;}
    50% { border-color: rgba(0, 0, 0, 0);  }
    100% { border-color: none;}
}

@-moz-keyframes borderflash {
    0% { border-color: none; }
    50% { border-color: rgba(0, 0, 0, 0);  }
    100% { border-color: none; }
}

@-ms-keyframes borderflash {
    0% { border-color: none; }
    50% { border-color: rgba(0, 0, 0, 0);  }
    100% { border-color: none; }
}



.flash {
  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 10;

  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 10;

  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 10;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #ffffff; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #ffffff; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #ffffff; }
    100% { background-color: none; }
}


.single-flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #ffffff; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #ffffff; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #ffffff; }
    100% { background-color: none; }
}


.imageflash {
  -moz-animation: imageflash 1s ease-out;
  -moz-animation-iteration-count: 1000;

  -webkit-animation: imageflash 1s ease-out;
  -webkit-animation-iteration-count: 1000;

  -ms-animation: imageflash 1s ease-out;
  -ms-animation-iteration-count: 1000;
}

@-webkit-keyframes imageflash {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes imageflash {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-ms-keyframes imageflash {
     0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*ipad width media queries*/
@media (min-width: 768px) {

  body {
  background: url("../img/tabletbg.jpg") no-repeat fixed; 
  background-position: contain center;
  
}

#arrow {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 140px;
  background: url("../img/arrowmed.png");
  background-size: cover;
  z-index: -1;

}


#dropPiece{
  z-index: 99;
  position: absolute;
  background-color: #ff3300;
  height: 75px;
  width: 75px;
  border: 10px solid #ff3300;
  border-radius: 85px;
  box-shadow: inset 0px 0px 5px #333333;
  top: -40px;
  left: 260px;
}

#highlightPiece {
  position: absolute;
  top: -62px;
  left: 238px;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid black;
  border-radius: 100px;
  z-index: -1;
}



  .drop-area{
  margin: 0 auto;
  margin-bottom: -22px;
  width: 658px;
  
}

.droppable {
  width: 92px;
  height: 80px;
  float: left;
}


 #main-box {
  position:absolute;
  top: 102px;
  left: 47px;
  background: url("../img/framebgmed.png");
  background-size: contain;
  width: 651px;
  height: 480px;
  border: 3px solid black; 
  
}

.entire-board {
  position: relative;
  margin: 0 auto;
  width: 760px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

 

.eachSquare {
  position: relative;
  float: left;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  width: 92px;
  height: 78px;
}

.circle-clear {
  position: absolute;
    left: 15%;
    top: 10%;
    width: 61px;
    height: 61px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black; 
    border-radius: 50px;
  border-radius: 50px;
  box-shadow: inset 3px -4px 8px rgba(0,0,0,0.7);
}

.circle-red {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 65px;
  height: 65px;
  background-color: #ff3300;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 1px -3px 3px #661400;
  color: white;
  font-size: 22px;
  font-weight: bold;

}

.circle-black {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 65px;
  height: 65px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 1px -3px 3px #333333;
  color: white;
  font-size: 22px;
  font-weight: bold;

}

.blue-leg {
    background: -webkit-linear-gradient(left, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    z-index:0;
    width: 35px;
    height: 510px;
    border: 1px solid black;
  
}

  #leg-left{
  position: absolute;
  
  top: 102px;
  left: 13px;
  border-radius: 15px 0px 5px 5px;
  box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
  }

  #leg-right{
  position: absolute;
 
  top: 102px;
  left: 697px;
  border-radius: 0px 15px 5px 5px;
  box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
  }

  #scoreSpacer{
  width: 340px;
  margin: 0 auto;
  margin-top: 525px;
  }
 

  #container-main {
    margin-top: 100px;
  }
  

}


/*desktop width media queries*/
@media (min-width: 1200px) {
  
body {
  background: url("../img/tablebg.jpg") no-repeat fixed; 
  background-position: contain center top;
  
}



#arrow {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -70px;
  left: 200px;
  background: url("../img/arrowlarge.png");
  background-size: cover;
  z-index: -1;

}





  .drop-area{
  margin: 0 auto;
  width: 704px;
  
}

.droppable {
  width: 100px;
  height: 102px;
  float: left;
}


 #main-box {
  position:absolute;
  top: 102px;
  left: 47px;
  background: url("../img/framebglarge.png");
  background-size: cover;
  width: 706px;
  height: 520px;
  border: 3px solid black; 
  
}

.entire-board {
  position: relative;
  margin: 0 auto;
  width: 800px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

 

.eachSquare {
  position: relative;
  float: left;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  width: 100px;
  height: 85px;
}

.circle-clear {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 65px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 3px -4px 8px rgba(0,0,0,0.7);
}

.circle-red {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 65px;
  height: 65px;
  background-color: #ff3300;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 1px -3px 3px #661400;
  color: white;
  font-size: 22px;
  font-weight: bold;

}

.circle-black {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 65px;
  height: 65px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: inset 1px -3px 3px #333333;
  color: white;
  font-size: 22px;
  font-weight: bold;

}

.blue-leg {
    background: -webkit-linear-gradient(left, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    z-index:0;
    width: 45px;
    height: 575px;
    border: 1px solid black;
  
}

  #leg-left{
  position: absolute;
  
  top: 102px;
  left: 2px;
  border-radius: 15px 0px 5px 5px;
  box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
  }

  #leg-right{
  position: absolute;
 
  top: 102px;
  left: 753px;
  border-radius: 0px 15px 5px 5px;
  box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
  }

  #scoreSpacer{
  width: 340px;
  margin: 0 auto;
  margin-top: 300px;
  }
 

  #container-main {
    margin-top: 5px;
  }

#dropPiece{
  position: absolute;
  background-color: #ff3300;
  height: 85px;
  width: 85px;
  border: 12px solid #ff3300;
  border-radius: 85px;
  box-shadow: inset 0px 0px 10px #333333;
  top: 173px;
  left: 447px;
}

#highlightPiece {
  position: absolute;
  top: 140px;
  left: 415px;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0);
  border: 13px solid black;
  border-radius: 100px;
  z-index: -1;
}

}